**Python Basics**

In [1]:
#integers variables
#example swap two numbers
num1 = 5
num2 = 6

temp = num1
num1 = num2
num2 = temp

print("num1=",num1)
print("num2=",num2)

num1= 6
num2= 5

In [2]:
#string variables
#example find the string of a string
name = "Fatima"
lenght = len(name)

print(lenght)

6

In [12]:
#list 
numbers = [54, 16, 30,32,55]
names = ['Fatima','Aziza','Iza']

#to access individual element of the list
print(numbers[0])
print(names[2])
print(numbers[-1]) #it will print from backword so the last element

54
Iza
55

In [13]:
#to print the lenght of the list
print(len(numbers))
print(len(names))

5
3

In [22]:
print(numbers[0:2]) #it will print till 1 index
print(numbers[0:5:2]) #it will skip one step and print like print the first element skip the second one print third skip fourth and so on till second index if we write 2 instead of 1 it will skip 2 element

[54, 16]
[54, 30, 55]

In [23]:
#to sort the list
numbers.sort()
print(numbers) #we connot write print(numbers.sort()) it will return nothing so we need to sort the list first then print

[16, 30, 32, 54, 55]

In [24]:
#to reverse the list
numbers.reverse()
print(numbers)

[55, 54, 32, 30, 16]

In [25]:
#print the min and max of the list
print(max(numbers))
print(min(numbers))

55
16

In [26]:
#to add element to the list
numbers.append(23) #add at the end of the list
print(numbers)

numbers.insert(2, 45) #add at a specific position it will add 45 at the second index
print(numbers)

numbers.extend([58,6,74]) #add more than one element at one time at the end of the list
print(numbers)

[55, 54, 32, 30, 16, 23]
[55, 54, 45, 32, 30, 16, 23]
[55, 54, 45, 32, 30, 16, 23, 58, 6, 74]

In [27]:
#to change an element of the list
numbers[1] = 12
print(numbers)

numbers[1:4] = [-4, 6, 5] #change more than one element at the time
print(numbers)

[55, 12, 45, 32, 30, 16, 23, 58, 6, 74]
[55, -4, 6, 5, 30, 16, 23, 58, 6, 74]

In [28]:
#remove element from the list
numbers.remove(58)
print(numbers)

numbers.pop() #remove the last element
print(numbers)

numbers.pop(1) #we pass the index it the pop function to remove from a spefic index
print(numbers)

[55, -4, 6, 5, 30, 16, 23, 6, 74]
[55, -4, 6, 5, 30, 16, 23, 6]
[55, 6, 5, 30, 16, 23, 6]

In [29]:
print(numbers.count(6)) #count how many time there are zero in the list

2

In [14]:
#for loop
names = ["Ahmad", "Adam", "Ibrahim"]
for name in names:
    if(name == 'Adam'):
        print("hey it's me,",name)
    
name1 = 'Fatima'
for i in name1:
    print(i)
    
squares = []  #we will define this empty list here and then store the square of element 
numbers = [2,5,-6,8]
for i in numbers:
    square = i**2 #calculate the square of each element
    print(square)
    squares.append(square) #store the square of each element in the squares list
print(squares)

hey it's me,  Adam
F
a
t
i
m
a
4
25
36
64
[4, 25, 36, 64]

In [15]:
#for else
numbers = [2,3,5,-1,0,53]
for i in numbers:
    print(i)
else: #this else statement will only be executed if the for loop completed sucesfully
    print("Sucessfully completed")

2
3
5
-1
0
53
Sucessfully completed

In [17]:
for i in numbers:
    print(i)
    if(i == 0):
        break
else: #here the else statement will not be executed cause the for loop did not completed
    print("Succesfully completed")

2
3
5
-1
0

In [20]:
#while loop
count = 1
while count <= 5:
    print(count)
    count +=1
    if count == 3:
        break
else:
    print("in else block")
print("out from loop")

1
2
out from loop

In [21]:
#functions
#function syntax
#def func_name(parameters):
    #funtion body
    #return expression
    
#func_name() ; call the function

def greet():
    print("hi")
    print("Fatima")
    
greet()

hi
Fatima

In [22]:
def function(height,weight):
    area = height * weight
    return area
function(5,2)

10

In [24]:
def square(a):
    result = a*a
    return result
square(3)

9

In [25]:
result = lambda x: x*x
print(result(3))

9

In [30]:
#dictionnary
#syntax of dictionary
#dict_name = {key:value}

phone_no = {'Iza':458, 'Fati':896,'Aziza':712}
print(phone_no)

{'Iza': 458, 'Fati': 896, 'Aziza': 712}

In [31]:
#to access a specific value
print(phone_no['Fati'])

896

In [32]:
#to change a value
phone_no['Iza'] = 453
print(phone_no)

{'Iza': 453, 'Fati': 896, 'Aziza': 712}

In [33]:
#to add to the dictonary
phone_no["Fatima"] = {965,485} #we can a list
print(phone_no)

{'Iza': 453, 'Fati': 896, 'Aziza': 712, 'Fatima': {485, 965}}

In [34]:
#we can have also a dictionary inside a dictionary
phone_no['Fati'] = {'Fati_home':546,'Fati_work':698}
print(phone_no)

print(phone_no['Fati']['Fati_work'])

{'Iza': 453, 'Fati': {'Fati_home': 546, 'Fati_work': 698}, 'Aziza': 712, 'Fatima': {485, 965}}
698

In [35]:
#we can also use get method to access value of dictionnary
print(phone_no.get('Iza'))

453

In [36]:
#to get only the keys, values,items
print(phone_no.keys())
print(phone_no.values())
print(phone_no.items())

dict_keys(['Iza', 'Fati', 'Aziza', 'Fatima'])
dict_values([453, {'Fati_home': 546, 'Fati_work': 698}, 712, {485, 965}])
dict_items([('Iza', 453), ('Fati', {'Fati_home': 546, 'Fati_work': 698}), ('Aziza', 712), ('Fatima', {485, 965})])

In [37]:
for i in phone_no:
    print(i)#it will print the keys only
    print(phone_no[i]) #it will print the values
    
for i in phone_no.items():
    print(i) 
    
#phone_no2 = phone_no.copy() to copy the dictionnary to phone_no2

Iza
453
Fati
{'Fati_home': 546, 'Fati_work': 698}
Aziza
712
Fatima
{485, 965}
('Iza', 453)
('Fati', {'Fati_home': 546, 'Fati_work': 698})
('Aziza', 712)
('Fatima', {485, 965})

In [38]:
#to print the lenght of dictionnary
print(len(phone_no))

4

In [39]:
#to delete
del phone_no['Fati']
print(phone_no)

{'Iza': 453, 'Aziza': 712, 'Fatima': {485, 965}}

In [40]:
#we can also use pop to delete
phone_no.pop('Fatima') #if we use print here it will return the value to be removed
print(phone_no)

{'Iza': 453, 'Aziza': 712}

In [41]:
phone_no.popitem() #delete the last element
print(phone_no)

phone_no.clear()#to remove all the element from dictionary
print(phone_no)

{'Iza': 453}
{}